.srd-default-link{

  @keyframes dash {
    from {
      stroke-dashoffset: 24;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  path{
    fill:none;
    stroke: black;
    pointer-events:all;
  }

  &--path-selected{
    stroke: rgb(0,192,255) !important;
    stroke-dasharray: 10,2;
    animation: dash 1s linear infinite;
  }

  &__label {
    pointer-events: none;

    > div{
      display: inline-block;
      position: absolute;
    }
  }

  &__point{
    fill: rgba(black,1);
  }

  &--point-selected{
    fill: rgb(0,192,255);
  }
  &-marker{
    fill: rgb(165,165,165) !important;
  }

  &--marker-selected{
    fill: rgb(50,50,50) !important;
    pointer-events:all;
  }
}