.tableList {
  background-color: #f5f5f5;
  word-break: break-word;

  .stretch {
    width: 100%;
  }

  .short {
    width: 1%;
    white-space: nowrap;
    word-break: keep-all;
  }

  th {
    font-weight: normal;
  }
}
