.diagramManager {
    margin-left: 10px;
    margin-top: 20px;

    .diagramList {
        border: 2px black solid;
        border-radius: 5px;
    }
}

.diagramListItem {
    cursor: pointer;
    padding: 5px;
    border: solid 1px black;

    &.selected {
        background-color: rgba(0, 0, 255, 0.5);
    }

    &.hovered {
        background-color: lightgray;
    }
}