.menuPanel{
  display: block;
  width: 100%;
  border: solid #000;
  padding: 2px;
  border-width: 0 0 1px 0;
  .dropdownList{
    display: inline;
    margin-right: 2px;
  }
  .dropdown-menu{
    border-radius: 0 !important;
    a {
      cursor: default !important;
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      &:hover,
      &:focus {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }
  }

  select{
    width:auto;
    display: inline;
    border-radius: 0;

  }
  button {
    border-radius: 0 !important;
    cursor: auto !important;
    font-style: normal;
  }

  button:hover{
    border-radius: 0 !important;
    cursor: auto !important;
  }
  .right{
    float:right;
    cursor: default;
  }
  .center{
    margin: 4px;
    position: absolute;
    left: 50%;
    font-size: 12pt;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    cursor: default;
  }
  .menuButton{
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    position: absolute;
    top: 2px;
    &:hover,
    &:focus {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
}

.logo{
  margin: 5px;
  font-weight: bold;
  font-style: oblique;
  user-select: none;
  max-width: 200px;
}
.dropdown-button{
  border: none;
  padding: 8px 16px;
  cursor: default;
}

//.helpTab{
//  max-height: 400px;
//  overflow: auto;
//}

code {
  background-color: #eee;
  color: #000;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
