.stereotypePanel{
  float:left;
  max-width:200px;
  height: calc(100vh - 25px);
  overflow: auto;
  white-space: nowrap;
  min-width: 100px;
}

.stereotypePanelItem {
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 5px;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  margin: 5px;
}