.details {
  word-wrap: break-word;
  background-color: white;
  float: right;
  padding: 5px;
  height: calc(100vh - 100px) !important;
  max-width: 600px;

  &.disabled {
    cursor: not-allowed;
  }

  .detailsFlex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .detailTitle {
    display: flex;
    flex-direction: column;
  }

  .accordions {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
  }

  .lucene {
    font-size: 14px;
    overflow: hidden;
    text-align: center;
  }

  .bordered {
    margin: auto auto 10px;
    padding: 2px;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    flex-direction: row;
    justify-content: center;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .card-header {
    padding: 0;
  }

  .nav-item {
    font-size: 14px;
    padding: 2px;
    position: relative;
    bottom: 12px;
    left: 12px;
    margin-top: 5px;
  }

  .card-body {
    padding: 2px;
  }

  .form-inline {
    display: inline-block;
  }
}
