.details{
  overflow: visible;
  word-wrap: break-word;
  background-color: white;
  float:right;
  padding: 5px 10px;
  //position: absolute;
  //right: 0;
  //top: 56px;
  height: 100%;
  max-width: 600px;
  .detailTitle{
    margin: 10px 20px;
  }
  .bordered{
    margin: auto;
    margin-bottom: 10px;
    padding: 2px;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    flex-direction: row;
    justify-content: center;
  }
}