.tropeList {
  min-height: 10vh;
  max-height: 33vh;
  overflow-y: auto;
}

.listItemControlInput {
  display: flex !important;
}

.linkCardinalities {
  position: relative;
  display: flex;
  justify-content: space-around;

  select {
    width: 40px;
    z-index: 1;
    text-align: center;
    height: 18px;
    transition: background 0.25s;
    transition: border 0.25s;

    &:disabled {
      opacity: 1;
    }

    option {
      background-color: white;
    }


    &:hover {
      background-color: rgb(190, 190, 190);
      border: 2px solid black;
      transition: background 0.25s;
      transition: border 0.25s;
    }

    &::after {
      display: none;
    }

  }

  .plainButton {
    text-align: center;
    z-index: 1;
    display: inline-block;
    font-size: 14px;
    background-color: #ffffff;
    padding: 0 4px;
    border: 1px solid black;
    border-radius: 4px;

    &::after {
      display: inline-block;
    }

    &:hover {
      opacity: 1;
      background-color: white !important;
    }
  }

  svg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

.flag {
  width: auto;
  height: 18px;
}

.top-item {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.middle-item {
  border-top: 0;
  border-radius: 0;
}

.bottom-item {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.listItemControls {
  padding: 1px;
  border: rgba(190, 190, 190, 0.5) 1px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: 10px;
  display: flex;


  .dropdown {
    width: 50%;
  }
}

.details {
  word-wrap: break-word;
  background-color: white;
  float: right;
  height: calc(100vh - 112px) !important;
  max-width: 600px;

  .spinnerFlex {
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
      margin: 10px;
    }
  }


  .diagramEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
  }

  &.disabled {
    cursor: not-allowed;
  }

  .bold {
    font-weight: 500;
  }


  .overlay {
    min-height: 33%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(190, 190, 190, 0.75);
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-top: 15px;
    width: inherit;
    z-index: 999;
    transform: translateY(101%);
    transition: transform 0.25s ease;

    &.visible {
      transform: translateY(0%);
      transition: transform 0.25s ease;
    }

    h6 {
      margin-top: 8px;
    }
  }

  h5 {
    margin-top: 8px;
  }

  .detailInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.noInput {
      font-size: 0;
      background-color: white;
      pointer-events: none;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(190, 190, 190, 0.5);
      border-color: rgba(190, 190, 190, 0.25);
    }

    .controls {
      visibility: hidden;

      &.hovered {
        visibility: visible;
      }
    }
  }




  .detailsFlex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .detailTitle {
    padding: 2px;

    .languageToggle {
      background-color: rgba(190, 190, 190, 0.25);
      width: 56px;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.75rem;
      float: inline-start;

      &.link {
        font-size: 1.4rem;
      }
    }

    .closeButton {
      float: right;
      margin-top: 8px;
      margin-left: 4px;
      margin-right: 2px;
    }

    .languageSelect {
      float: right;
      margin-right: 2px;
    }


    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-clamp: 2;
      font-style: italic;

      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  .detailElement {
    width: 100%;
    height: 100%;

    .accordions {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.25s;
      display: flex;
      flex-direction: column;

      .accordion {
        flex: 1;
        height: 100%;
        overflow: auto;
      }

      &.blur {
        opacity: 0.5;
        pointer-events: none;
        transition: opacity 0.25s;
      }
    }
  }


  .lucene {
    font-size: 14px;
    overflow: hidden;
    text-align: center;
  }

  .bordered {
    margin: auto auto 10px;
    padding: 2px;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    flex-direction: row;
    justify-content: center;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .card-header {
    padding: 0;
  }

  .nav-item {
    font-size: 14px;
    padding: 2px;
    position: relative;
    bottom: 12px;
    left: 12px;
    margin-top: 5px;
  }

  .card-body {
    padding: 2px;
  }

  .form-inline {
    display: inline-block;
  }
}

.accordion-item {

  border-radius: 0;
}

.accordion-button {
  font-size: large;
  border-radius: 0 !important;
  padding: 8px;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(190, 190, 190, 0.5);
    border-color: rgba(190, 190, 190, 0.25);
  }

  background-color: rgba(190, 190, 190, 0.25);

  &:not(.collapsed) {
    color: black;
    background-color: inherit;
    opacity: 0.75;

    &::after {
      background-image: var(--bs-accordion-btn-icon);
    }
  }

  &::after {
    background-image: var(--bs-accordion-btn-icon);
  }
}

.accordion-body {
  padding: 4px;
}
