.elements {
  word-wrap: break-word;
  background-color: white;
  float: left;
  height: calc(100vh - 56px) !important;
  width: 100%;
  max-width: 600px;
  border-radius: 0;

  .stereotypeElementItem {
    font-size: 14px;
    margin: 1px;
    padding: 2px 4px;
    border-radius: 1px;
    border-style: none;
    border-width: 1px;
    overflow: auto;
    border-color: rgba(0, 0, 0, 0.30);
    user-select: none;

    &:hover {
      background-color: #e9eaeb;
    }

    .category {
      padding: 0 2px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      float: right;
      font-style: italic;
    }

    &.selected {
      background-color: rgba(198, 200, 250, 0.5) !important;
    }

    .diagram {
      width: 100%;
    }
  }

  .elementList {
    height: calc(100vh - 175px) !important;
    overflow: auto;
  }

  .elementLinkList {
    height: calc(100vh - 136px) !important;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .margins {
    border: none;
    background: none;
    margin: 2px 5px;
    padding: 0;
    color: #007bff;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  .packageFolder {
    display: inline-block;
    font-size: 14px;
    user-select: none;
    margin: 1px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.30);
    min-width: 100%;
    border-left-width: 4px;

    &:hover {
      background-color: #f8f9fa;
    }

  }

  .open {
    border-left-width: 10px;
  }

  .defaultPackage {
    background-color: rgba(198, 200, 250, 0.5) !important;
  }
}


.custom-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #838082;
  cursor: e-resize;
}