.elements{
  //overflow: visible;
  word-wrap: break-word;
  background-color: white;
  float:left;
  height: calc(100vh - 56px) !important;
  width: 100%;
  max-width: 600px;
  border-radius: 0;
  .stereotypeElementItem{
    margin: 3px;
    padding: 5px 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.30);
    &:hover{
      background-color: #e9eaeb;
    }
    .category{
      padding: 0px 2px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      float: right;
      font-style: italic;
    }
    &.selected{
      background-color: rgba(198, 200, 250, 0.5) !important;
    }
    .diagram{
      width: 100%;
    }
  }
  .elementDescription{
    //position: absolute;
    //background-color: #e9eaeb;
    //bottom: 100px;
    //width: 100%;
  }
  .elementList{
    height: calc(100vh - 175px) !important;
    overflow: auto;
  }
  .margins{
    margin: 5px;
  }
  .packageFolder{
    margin: 3px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.30);
    border-left-width: 4px;
    &:hover{
      background-color: #e9eaeb;
    }

  }
  .open{
    border-left-width: 10px;
  }
  .hidden{
    border-style: dashed;
    border-color: rgba(0,0,0,0.10);
  }
}



.custom-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #838082;
  cursor: e-resize;
}