.menuPanel {
  padding-top: 5px;
  padding-left: 5px;

  .upper {
    display: inline-flex;
    padding-left: 5px;
    margin-bottom: 4px;

    .interfaceNotification {
      margin-left: 5px;
    }

    form {
      position: absolute;
      right: 5px;
      top: 8px;

      select {
        font-size: 14px;
        padding: 0;
        height: 25px;
      }
    }
  }

  .report {
    margin-right: 4px;
    margin-bottom: 4px;

    a, button {
      font-size: 14px;
      box-shadow: none;
      transition: none;
      border: none;
      padding: 0 5px;
      background-color: #ffc107;

      &:hover, &:active {
        cursor: default;
        color: black;
        background-color: #d39e00;
      }
    }

    div {
      padding: 0;
      min-width: 0;
    }
  }

  .lower {
    font-size: 14px;

    a, button {
      font-size: 14px;
      background: none !important;
      border: none;
      color: black !important;
      padding: 0 5px;
      margin-bottom: 4px;
      margin-right: 4px;
      box-shadow: none !important;

      &:hover {
        background-color: lightgray !important;
        border-radius: 2px;
        cursor: default;
      }

      &:focus {
        background-color: lightgray;
        color: black;
        box-shadow: none;
      }
    }
  }
}