.menuPanel {
  padding-top: 5px;
  padding-left: 5px;

  .upper {
    padding-left: 5px;
    margin-bottom: 4px;
    font-size: larger;

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      .dropdown-item {
        padding: 4px !important;
      }

      .plainButton::after {
        display: none;
      }

      .plainButton:hover {
        background: none !important;
      }
    }

    .interfaceNotification {
      margin-left: 5px;
      display: flex;
    }

    .title {
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .text {
      margin-left: 5px;
    }
  }

  .report {
    margin-right: 4px;
    margin-bottom: 4px;

    a,
    button {
      font-size: larger;
      box-shadow: none;
      transition: none;
      border: none;
      padding: 0 5px;
      background-color: #ffc107;

      &:hover,
      &:active {
        cursor: default;
        color: black;
        background-color: #d39e00;
      }
    }

    div {
      padding: 0;
      min-width: 0;
    }
  }

  .lower {
    font-size: 14px;

    a,
    button {
      font-size: medium;
      background: none !important;
      border: none;
      color: black !important;
      padding: 0 5px;
      margin-bottom: 4px;
      margin-right: 4px;
      box-shadow: none !important;

      &:hover {
        background-color: lightgray !important;
        border-radius: 2px;
        cursor: default;
      }

      &:focus {
        background-color: lightgray;
        color: black;
        box-shadow: none;
      }
    }
  }
}

#imagePreview {
  display: block;
  margin: auto;
  width: 100%;
}
