.validation {
    position: absolute;
    bottom: 0;
    left: 300px;
    z-index: 99;
    background-color: #f1f1f1;
    .list {
        overflow-y: auto;
    }
    .top {
        padding: 2px 20px 2px 2px;

        h4 {
            padding: 5px 2px 2px;
            text-align: center;
            display: inline-block;
        }
    }
}
