.elements {
  word-wrap: break-word;
  word-break: break-word;
  background-color: white;
  float: left;
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 112px) !important;
  border-radius: 0;

  svg {
    transform: scale(0.7);
  }

  .lucene {
    font-size: 14px;
    overflow: hidden;
    text-align: center;
  }

  .lucene:before,
  .lucene:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .input-group {
    flex-wrap: nowrap;

    .luceneSelect {
      width: 100%;
      display: inline-block;
    }
  }

  .hiddenLucene {
    transition: max-height 0.5s;
  }

  .lucene:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .lucene:after {
    left: 0.5em;
    margin-right: -50%;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .conceptDivider {
    border-bottom: solid 1px black;
    user-select: none;
    font-size: 14px;
    margin: 1px 1px 1px 4px;

    &:hover {
      background-color: #e9eaeb;
    }

    &.closed {
      display: none;
    }
  }

  .stereotypeElementItem {
    font-size: 14px;
    margin: 1px 1px 1px 8px;
    padding: 2px 4px;
    border-radius: 1px;
    border-style: none;
    border-width: 1px;
    overflow: auto;
    border-color: rgba(0, 0, 0, 0.30);
    user-select: none;
    cursor: grab;
    display: block;

    &:active {
      cursor: grabbing;
    }

    &:hover,
    &.selected {
      background-color: #dddddd;
    }

    &.closed {
      display: none;
    }

    .altLabel {
      font-size: 12px;
      font-style: italic;
    }

    .category {
      padding: 0 2px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      float: right;
      font-style: italic;
    }

    .diagram {
      width: 100%;
    }
  }

  .elementList {
    overflow: auto;
  }

  .elementLinkList {
    overflow-y: auto;
    overflow-x: hidden;

    &.disabled {
      pointer-events: none;
    }
  }

  .margins {
    border: none;
    background: none;
    margin: 2px 5px;
    padding: 0;
    color: #007bff;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  .vocabularyFolder {
    display: inline-block;
    font-size: 14px;
    user-select: none;
    width: 100%;

    .vocabularyLabel {
      border: 1px solid rgba(0, 0, 0, 0.7);
      padding: 5px;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      font-style: italic;
      width: 100%;
      cursor: pointer;

      .chevron {
        float: right;
      }
    }
  }
}

.conceptOptions {
  display: inline-block;
}

.custom-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #838082;
  cursor: e-resize;
}
