.newPattern{
  .toCard{
    display: inline-block;
    width: 20%;
  }
  .toLink {
    display: inline-block;
    width: 74%;
  }
  .fromCard{
    display: inline-block;
    width: 20%;
  }
  .fromLink {
    display: inline-block;
    width: 74%;
  }
}
