@import "diagram/DiagramApp";
@import "panels/ItemPanel";
@import "components/TableList";
@import "components/ConnectionList";
@import "components/ModalRemoveItem";
@import "panels/MenuPanel";
@import "panels/DetailPanel";
@import "panels/ValidationPanel";
@import "panels/DiagramPanel";

body {
  overflow: hidden;
  word-break: break-word;
  position: fixed;
  width: 100%;
  height: 100%;
}


.wrap {
  display: inline-block;
  white-space: normal;
}

.inert {
  display: inline-flex;
}

.italic {
  font-style: italic;
}

.centered {
  width: 1px;
  margin: 0 auto;
}

.centeredValidation {
  margin: 0 auto;
}

.nointeract {
  pointer-events: none;
}

.noresponse {
  cursor: default;
}

.center {
  width: 100%;
}

.buttonlink {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: #007bff;

  &.vocab {
    border-radius: 4px;
    background-color: lightgray;
  }

  &:hover {
    color: blue;
    text-decoration: underline;
    background: none;

    &.nounderline {
      text-decoration: none;
    }
  }
}

.fixed {
  max-width: 500px;
  max-height: 500px;
  overflow: scroll;
}

.red {
  color: red;
}

.right {
  float: right;
}

.modal-warning {
  margin-bottom: 0;
  margin-left: 0;
  width: 100%
}

.wide {
  width: 100%;
}

.modal-content {
  .nav-item {
    width: auto;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
  }

  .navbar-nav {
    display: block;
  }
}

.rieinput {
  padding: 2px;
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
    transition-duration: 0.25s;
  }

  br {
   display: none;
  }
}

.qualityTableSelect{
  max-height: 20px;
}

// TODO
.iconButton{

}